.rick__header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.rick__header-title {
  font-family: var(--font-family);
  text-align: center;
  margin: 15px 0 0 0;
}

.rick__header-title img {
  height:50%;
  width: 50%;
}

.rick__header-subtitle {
  font-family: var(--font-family);
  text-align: center;
}

.rick__header-subtitle h2 {
  font-size: 35px;
  line-height: 35px;
  color: var(--font-color-title);
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  
}