* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
  color: var(--font-color);
}

.rick__app {
  margin: 10px 20px;
}
