@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --font-family: 'Source Code Pro';
  --title-font: 'Creepster';

  --color-bg: #69c8ecff;
  --title-color: #526e2dff;
  --font-color: #fff;
  --font-color-title: #b7e4f9ff;
  --card-bg: #24325fff;
  --card-bg-hover: rgb(61, 83, 153);
  --sheet-color: #161e39;
}
